
@media (min-width: 300px) and (max-width:1023px){
    .header--nav{
        display: none;
    }
    .main--section1{
        height: 100vh;
        margin-bottom: 100px;
    }
    .main--section1__contTituloParrafo--titulo {
        font-size: 50px;
        text-align: center;    
    }
    .main--section1__contTituloParrafo--parrafo {
        font-size: 25px;
        text-align: center;
        margin-top: 40px;
    }
    .main--section1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 90vh;
        background-image: url(/source/img/logonav2.png);
        background-repeat: no-repeat;
        background-position-x: -102px;
        background-position-y: 153px;
        background-color: #FCF3F5;
        background-attachment: fixed;
    }
    .main--section2 {
        background-color: white;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        margin: 40px 0px;
    }
    .main--section2__contTitulo2Parrafo {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .main--section3__ContTitulo--titulo{
        font-size: 25px;
    }
    .main--section2__contTitulo2Parrafo--Parrafos {
        width: 95%;
        font-size: 20px;
        padding: 10px;
        margin: 0.8em 0em;
    }
    .main--section2__contTitulo2Parrafo--Titulo2 {
        font-size: 30px;
        width: 100%;
        height: 100px;
        text-align: center;
    }
    /* &&&&&&&&&&&&&&&&&&&&&&&&&& */
    .main--section3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        /* height: 112vh; */
        /* height: 800px; */
        margin: 3em 0em;
        height: 1700px;
    }
    .main--section3__ContTitulo {
        height: auto;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2em;
    }
    .hr-main--section3__ContTitulo {
        background-color: #E96D55;
        color: #e9280e;
        height: 10px;
        width: 300px;
        /* border: none; */
    }
    .main--section2__contParrafosder{
        display: none;
    }
    .main--section3__ContenedorCajas {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 30px;
        width: 100%;
        height: 800px;
        margin-bottom: 170px;
    }









    




/* Servicios */

.main--servicios__section1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90vh;
    align-items: center;
}
.main--servicios__section1--conTextos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    padding: 1em;
}
.main--servicios__section1--conTextos__titulos {
    width: auto;
    font-size: 28px;
}
.main--servicios__section1--conTextos__parrafo {
    width: auto;
    font-size: 18px;
    margin-top: 22px;
}
.main--servicios__section1--conTextos__lista {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-between;
    align-content: flex-end;
    width: 100%;
    align-items: center;
    list-style: none;
}

.main--servicios__section1--conTextos__lista--elemento {
    margin-right: 12px;
    font-size: 9px;
    width: 100%;
}

.main--servicios__section2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 0em 1em;
    gap: 0px;
}
.main--servicios__section2-titulo {
    text-align: center;
    width: 100%;
    margin: 30px 0px;
    font-size: 18ox;
    font-size: 20px;
}
.main--servicios__section2--card{
    border: 1px solid rgba(0, 0, 0, 0.096);
    text-align: left;
    width: 300px;
    height: auto;
    display: flex;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.329);
    align-items: center;
    border-top: 30px solid #D94B33;
}

.main--servicios__section2--card__titulo {
    margin-bottom: 30px;
    font-size: 14px;
}
element.style {
    font-size: 12px;
}





.main--servicios__section3--parrafo {
    width: 100%;
    margin-top: 4px;
}
.main--servicios__section3 {
    height: 60vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 100%;
    margin-top: 50px;
}



.main--servicios__section3--titulo {
    text-align: centers;
    width: 100%;
    font-size: 20px;
    padding: 1em;
}
.main--servicios__section3--parrafo {
    width: 100%;
    margin-top: 4px;
    padding: 1em;
    font-size: 14px;
}
.main--servicios__section3--separador {
    width: 200px;
    margin-top: 30px;
    height: 5px;
    background-color: chocolate;
    border: none;
}
}

@media (min-width: 1024px){
    .main--section2__contParrafosder--img {
        filter: drop-shadow(1px 1px 3px #888);
        width: 60%;
    }
    .header--nav{
        display: flex;
    }
    .header--navMobile{
        display: none;
    }
}




