.main--servicios{
  height: auto;
  width: 100%;
}
.main--servicios__section1{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 90vh;
}
.main--servicios__section1--conTextos{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
}
.main--servicios__section1--conTextos__titulos{
  width: 70%;
  font-size: 40px;
}
.main--servicios__section1--conTextos__parrafo{
  width: 80%;
  font-size: 20px;
}
.main--servicios__section1--conTextos__lista{
  display: flex;
}
.main--servicios__section1--conTextos__lista--elemento{
  margin-right: 2em;
  font-size: 17px;
}
.main--servicios__section1--img{
  width: 35%;
}



.main--servicios__section2{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  align-items: center;
  margin: 0em 3em;
}
.main--servicios__section2--card1{
  border: 1px solid rgba(0, 0, 0, 0.233);
  text-align: left;
  width: 100%;
  display: flex;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.329);
  align-items: center;
  border: none;
}
.main--servicios__section2--card2{
  text-align: center;
  width: 100%;
  padding: 1em;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.329);
  border: 1px solid rgba(0, 0, 0, 0.233);
  border-radius: 10px;
  border: none;
}
.main--servicios__section2--card3{
  text-align: right;
  width: 100%;
  display: flex;
  padding: 1em;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.329);
  border: 1px solid rgba(0, 0, 0, 0.233);
  border-radius: 10px;
  align-items: center;
  border: none;
}
.main--servicios__section2--card1__contImg{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main--servicios__section2--card3__contImg{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main--servicios__section2--card__contImg{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.main--servicios__section2--card__contImg--img{
  width: 50%;
}







.main--servicios__section3{
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}



.main--servicios__section3--titulo{
  width: 800px;
  text-align: centers;
  font-size: 30px;
}
.main--servicios__section3--parrafo{
  width: 600px;
  margin-top: 30px;
}
.main--servicios__section3--separador{
  width: 300px;
  margin-top: 30px;
  height: 10px;
  background-color: chocolate;
  border: none;
}

.main--servicios__section4{
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
  height: 119vh;
  padding-top: 25px;
}
.main--servicios__section4--card{
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 300px;
  height: 300px;
  padding: 1em;
  border-radius: 10px;
  justify-content: space-evenly;
  border: 1px solid rgba(128, 128, 128, 0.267);
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.37);
  background-color: white;

}
.main--servicios__section4--card__contImg{
  text-align: center;
}
.main--servicios__section4--card__contImg--img{
  width: 30%;
}
.main--servicios__section4--card__parrafo{
  text-align: center;
} 
.titulo-Servicios{
  text-align: center;
}